* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text svneol=unset#application/octet-stream
.settings/org.eclipse.wst.jsdt.ui.superType.name -text svneol=unset#application/octet-stream
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text
WebContent/embedded_search.jsp -text
WebContent/footer.jsp -text
WebContent/header.jsp -text
WebContent/images/data_circle.jpg -text
WebContent/regenerate.jsp -text
WebContent/search.jsp -text
WebContent/similarity.jsp -text
/pom.xml -text
